* {
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bangers', sans-serif;
    
}

.hero-div {
    
    background-color: blueviolet;
    height: 10rem;
    width: 100vw;
}

.card-labels{
    display: flex;
    justify-content: center;
}

.card-align{
    display: flex;
    justify-content: center;
}

.combat-buttons{
    display:flex;
    justify-content:space-evenly;
}